# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\74\heima-leadnews\heima-leadnews\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
